layout {
	pane split_direction="vertical" {
		// Library packages, one pane each (split into two columns)
		pane split_direction="horizontal" {
			pane name="indexer" command="pnpm" cwd="packages/core" {
				args "dev"
			}
			pane name="browser" command="pnpm" cwd="packages/browser" {
				args "dev"
			}
			pane name="cli" command="pnpm" cwd="packages/cli" {
				args "dev"
			}
		}
		pane split_direction="horizontal" {
			pane name="fs" command="pnpm" cwd="packages/fs" {
				args "dev"
			}
			pane name="fs-cache" command="pnpm" cwd="packages/fs-cache" {
				args "dev"
			}
			pane name="js-processor" command="pnpm" cwd="packages/js-processor" {
				args "dev"
			}
			pane name="server" command="pnpm" cwd="packages/server" {
				args "dev"
			}
			pane name="node-host" command="pnpm" cwd="platforms/nodejs" {
				args "dev"
			}
			pane name="utils" command="pnpm" cwd="packages/utils" {
				args "dev"
			}
		}

		// web-demo dependencies (event processors), one pane each
		pane split_direction="horizontal" {
			pane name="bleeps" command="pnpm" cwd="examples/event-processor-bleeps" {
				args "dev"
			}
			pane name="conquest-eth" command="pnpm" cwd="examples/event-processor-conquest-eth" {
				args "dev"
			}
			pane name="nfts" command="pnpm" cwd="examples/event-processor-nfts" {
				args "watch"
			}
		}

		// the web-demo itself
		pane split_direction="horizontal" {
			pane name="web-demo" command="pnpm" cwd="examples/web-demo" {
				args "dev"
			}
		}
	}
}
